# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos temporales de sistemas
.DS_Store
Thumbs.db

# Archivos de configuración de entorno
.env

# Bases de datos locales
*.sqlite
*.db
.cache/
.cache.sqlite

# Archivos de salida
*.png
*.pdf

# Archivos creados por Jupyter o IPython
.ipynb_checkpoints/

# Archivos exportados por VSCode
.vscode/

# Archivos del sistema operativo
*.swp