# Evitar caché de la API
.cache.sqlite

# Evitar archivos y carpetas temporales
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Archivos de entorno virtual (si llegas a usar uno)
.env
.venv/
env/
venv/

# No ignorar imágenes (asegura que sí se suban)
!*.png